.right-label{
  text-align: right !important;
}

.body-bgimg{
  background-image: url("../assets/images/tactile_noise/tactile_noise.png")
}

.input-bg{
  background-color: lightgrey;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}


@media(max-width: 576px){
  .right-label{
    text-align: left !important;
  }
}